# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_DB_URL=postgresql://postgres:password@host:5432/postgres

# Tigris Storage (S3 Compatible) - Server Side Only
TIGRIS_STORAGE_ACCESS_KEY_ID=
TIGRIS_STORAGE_SECRET_ACCESS_KEY=
TIGRIS_STORAGE_ENDPOINT=
TIGRIS_STORAGE_BUCKET=
